sudo: required
dist: trusty
language: csharp

services:
  - docker
  
install:
  - docker-compose version  
  - sudo pip install docker-compose
  - docker-compose version
  
before_script:
  - docker-compose pull
  - docker-compose -f docker-compose.yml build
  - docker-compose -f docker-compose.yml up -d
  - chmodx +x ./run_linux_tests.sh
  - docker-compose -f docker-compose.yml run linuxtests
  - docker ps
  
after_script:
  - docker-compose down
