sudo: required
dist: trusty
language: csharp

services:
  - docker
  
install:
  - docker-compose version  
  - sudo pip install docker-compose
  - docker-compose version
  
before_script:
  - sudo chmod +x ./run_linux_tests.sh
  - sudo chmod +x ./tests/linux/run.sh
  - docker-compose pull
  - docker-compose -f docker-compose.yml build
  - docker-compose -f docker-compose.yml up -d  
  - docker-compose -f docker-compose.yml run linuxtests
  - docker ps
  
after_script:
  - docker-compose down
